:root {
  --primaryColor: #001f43;
  --secondaryColor: #ffcd06;
}
.navbar {
  /* height: 50px; */
  /* box-shadow: 0 4px 6px 0 var(--primaryColor); */
  box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.5);

  background-color: white;
}

.ass_name {
  font-weight: bold;
}

.navbar_div {
  display: flex;
  height: 50px;
  align-items: center;
}

.profile {
  width: 40px;
  border-radius: 50%;
}
