:root {
  --primaryColor: #001f43;
  --secondaryColor: #ffcd06;
}
.navbar_ {
  /* height: 50px; */
  /* box-shadow: 0 4px 6px 0 var(--primaryColor); */
  box-shadow: 0 4px 4px 0 rgba(207, 207, 207, 0.5);

  background-color: white;
}


.navbar_div {
  /* display: flex; */
  height: 50px;
  /* align-items: center; */
}

.name_profile{
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}

