:root {
  --primaryColor: #001f43;
  --secondaryColor: #ffcd06;
}
.sidebar {
  background-color: var(--primaryColor);
  color: white;
  height: 100vh;
  overflow-y: auto;
}
.sidebar_item_p {
  padding: 10px;
  margin: 0px 10px 0px 10px;
}

.sidebar_item_l {
  padding: 10px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.sidebar_item_l:hover {
  background-color: #163a63;
  border-radius: 15px;
}

.sidebar_item_p:hover {
  /* background-color: #244f80; */
  border-right: 4px solid #ffcd06;
  /* border-radius: 30px; */
  /* padding: 10px; */
  cursor: pointer;
}
.logo {
  width: 150px;
  /* margin-left: auto;
  margin-right: auto; */
  display: block;
}

.sidebar_icon {
  background-color: #244f80;
  padding: 10px;
  border-radius: 20%;
}

.sidebar_item {
  width: 50px;
  height: 50px;
}

.sidebar_item :hover {
  /* .sidebar_icon {
    border: 1px solid #ffcd06;
  } */
}

.active_side_item {
  border: 1px solid #ffcd06;
  /* border-radius: 50%; */
}

.sidebar_icon_2 {
  background-color: #ffdf5e;
  color: var(--primaryColor);
  border-radius: 20%;
  padding: 10px;
}

.logout_div {
  /* border-radius: 20px; */
  /* margin: 20px; */
  background-color: var(--primaryColor);
  height: fit-content;
  width: fit-content;
  position: fixed;
  bottom: 0;
}

.submenu_item {
  font-size: 12px;
  padding: 5px;
  margin-left: 60px;
}

.submenu_item:hover {
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #1a4d87;
}

.ass_name {
  text-align: center;
  /* margin-left: 50px !important; */
  /* font-size: bol; */
}

.logo_menu {
  display: flex;
  margin: 0px 10px 0px 10px;

  align-items: center;
}

.profile2{
  width: 40px;
  border-radius: 50%;
  margin: 0px 10px 0px 10px;

}