:root {
  --primaryColor: #001f43;
  --secondaryColor: #ffcd06;
}
.dashboard_card {
  border-radius: 15px !important;
  /* border: none !important; */
  overflow-y: auto;
  height: 95vh !important;
}
.primary_button {
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 15px;
  outline: 2px solid var(--secondaryColor);
  outline-offset: 3px;
  transition: 500ms;
  box-shadow: 0 8px 12px 0 var(--primaryColor);
}
.primary_button:hover {
  cursor: pointer;
  /* outline: 2px solid var(--primaryColor);
  outline-offset: 3px; */
  box-shadow: none;
}

.card_title {
  font-weight: bold;
  color: #001f43;
}

.message_card {
  height: 20vh !important;
}

.message_card_title {
  font-weight: bold;
  font-size: large;
}
.button {
  float: right;
  align-items: center;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 15px;
  outline: 2px solid var(--secondaryColor);
  outline-offset: 3px;
  box-shadow: 0 8px 12px 0 var(--primaryColor);
}
.buttons_div {
  display: flex;
  gap: 10px;
}
.message_button {
  background-color: #1a4d87;
  border: none;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  transition: 300ms;
  color: white;
}
.message_button:hover {
  background-color: var(--primaryColor);
}
.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.profile_name {
  font-weight: bold;
  color: var(--primaryColor);
  font-size: 20px;
}

.view_farmer_button {
  background-color: #001f43;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  transition: 500ms;
}
.view_farmer_button:hover {
  background-color: #001f43;
}

.mic {
  background-color: #1a4d87;
  color: white;
  border-radius: 50%;
  padding: 7px;
  transition: 500ms;
}

.mic:hover {
  cursor: pointer;
  background-color: var(--primaryColor);
}
/* .voice_message {
} */

.filtered_div {
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.filter_items {
  background-color: #001f4364;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  margin-right: 5px;
  /* margin-bottom: ; */
}
.drop_down_menu_icon{
  font-size: 22px;
  color: black;
}
.drop_down_menu_icon:hover{
  background-color: #cccccc;
  width: 22px;
  /* height: 24px; */
  border-radius: 40%;
}
.delete_drop_down:hover{
  background-color: darkred;
}

.org_logo {
  position: relative;
}
.edit_button {
  position: absolute;
  top: 290px;
  right: 120px;
  background-color: #001f43;
  border-radius: 50%;
  padding: 14px;
  color: #fff;
}
label[for="file-input"] {
  cursor: pointer;
}
.edit_button:hover {
  cursor: pointer;
}
.upload_button {
  border: none;
  padding: 8px 20px;
  font-size: 12px;
  border-radius: 5px;
  transition: 300ms;
  color: white;
  background-color: #001f43;
  font-size: 15px;
}
.profile_mail {
  font-size: 15px;
  color: grey;
  /* font-weight: bold; */
  /* margin: 0; */
}

.profile_card {
  border-radius: 15px !important;
  overflow-y: auto;
}

.dashboard_card {
  border-radius: 15px !important;
  /* border: none !important; */
  overflow-y: auto;
  height: 95vh !important;
}

.profile_label{
  font-size: 12px;
}
