:root {
  --primaryColor: #001f43;
  --secondaryColor: #ffcd06;
}
.dashboard_card {
  border-radius: 15px !important;
  /* border: none !important; */
  overflow-y: auto;
  height: 95vh !important;
}
.primary_button {
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 15px;
  outline: 2px solid var(--secondaryColor);
  outline-offset: 3px;
  transition: 500ms;
  box-shadow: 0 8px 12px 0 var(--primaryColor);
}
.primary_button:hover {
  cursor: pointer;
  /* outline: 2px solid var(--primaryColor);
  outline-offset: 3px; */
  box-shadow: none;
}

.card_title {
  font-weight: bold;
  color: #001f43;
}

.message_card {
  height: 20vh !important;
}

.message_card_title {
  font-weight: bold;
  font-size: large;
}
.button {
  float: right;
  align-items: center;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 15px;
  outline: 2px solid var(--secondaryColor);
  outline-offset: 3px;
  box-shadow: 0 8px 12px 0 var(--primaryColor);
}
.buttons_div {
  display: flex;
  gap: 10px;
}
.message_button {
  background-color: #1a4d87;
  border: none;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  transition: 300ms;
  color: white;
}
.message_button:hover {
  background-color: var(--primaryColor);
}
.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.profile_name {
  font-weight: bold;
  color: var(--primaryColor);
  font-size: 30px;
}

.view_farmer_button {
  background-color: #001f43;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  transition: 500ms;
}
.view_farmer_button:hover {
  background-color: #001f43;
}

.mic {
  background-color: #1a4d87;
  color: white;
  border-radius: 50%;
  padding: 7px;
  transition: 500ms;
}

.mic:hover {
  cursor: pointer;
  background-color: var(--primaryColor);
}
.voice_message {
}

.filtered_div {
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* ***********PROFILE PAGE */
.card {
  background: #FFFFFF;
  border-radius: 15px;
  border: 2px solid var(--main-border-color);
}

/* .first-card {
  width: 570px;
  height: 441px;
} */
.first-card h3 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  color: #232532;
  width: 305px;
  height: 60px;
  margin: 50px 0px 35px 50px;
}
.first-card .chips {
  width: 490px;
  height: auto;
  background: #f2f2f2;
  margin-left: 50px;
  display: block;
  margin-bottom: 50px;
}
.first-card .chips .chip-card {
  float: left;
  height: 37px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  background: var(--secondary-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 18.5px;
  padding: 0 15px;
  margin-top: 10px;
  cursor: pointer;
}
.first-card .chips .chip-card label {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  cursor: pointer;
  color: var(--main-text-color);
}
.first-card .link {
  display: block;
  width: 150px;
  margin-left: 53px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-decoration-line: underline;
  color: #232532;
  transform: translateY(50px);
}

.second-card {
  width: 630px;
  height: 501px;
  margin-left: 20px;
}
.second-card h3 {
  margin-left: 50px;
  margin-top: 50px;
  ont-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  color: #232532;
  width: 305px;
  height: 60px;
}
.second-card .containers {
  display: flex;
  margin-left: 50px;
  margin-top: 45px;
}
.second-card .containers .container {
  width: 244px;
  height: 276px;
  background: #FFFFFF;
  border: 1px solid #CCD0EE;
  border-radius: 5px;
}
.second-card .containers .container .icon {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 9px;
}
.second-card .containers .container h4 {
  margin-left: 22px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  text-transform: uppercase;
  color: #232532;
}
.second-card .containers .container p {
  width: 121px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #232532;
  margin-left: 20px;
  margin-top: 30px;
}
.second-card .containers .container .chip {
  width: 180px;
  height: 29px;
  background: #F6F7FF;
  border: 1px solid #CCD0EE;
  border-radius: 14.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Mulish;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #23253250;
  mix-blend-mode: normal;
  margin-left: 22px;
  margin-top: 38px;
}
.second-card .containers .container .btn {
  width: 205px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #5B33DE;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #5B33DE;
  margin-left: 20px;
  margin-top: 43px;
}
.second-card .containers .container .btn.active {
  background: #5B33DE;
  color: #fff;
  margin-top: 58px;
}
.second-card .containers .container.cone {
  margin-right: 40px;
}

@media only screen and (max-width: 1200px) {
  body {
    flex-direction: column-reverse;
  }

  .second-card {
    margin-bottom: 20px;
    margin-left: 0;
  }
}