:root {
  --primaryColor: #001f43;
  --secondaryColor: #ffcd06;
}
.dashboard_card {
  border-radius: 15px !important;
  /* border: none !important; */
  height: 95vh !important;
}
.primary_button {
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 15px;
  outline: 2px solid var(--secondaryColor);
  outline-offset: 3px;
  box-shadow: 0 8px 12px 0 var(--primaryColor);
}
.primary_button:hover {
  cursor: pointer;
  font-weight: bold;
}

.card_title {
  font-weight: bold;
  color: #001f43;
}

.message_card {
  height: 20vh !important;
}

.message_card_title {
  font-weight: bold;
  font-size: large;
}
.button{
  float: right;
  align-items: center;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 15px;
  outline: 2px solid var(--secondaryColor);
  outline-offset: 3px;
  box-shadow: 0 8px 12px 0 var(--primaryColor);
}
